<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>책 목록</title>
  <!-- Bootstrap CSS 연결 -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h2>책 목록</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>제목</th>
      <th>저자</th>
      <th>출판사</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.getId()}">1</td>
      <td><a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}">책 제목 예시</a></td>
      <td><a th:href="@{/authors/{id}(id=${book.getAuthor().getId()})}" th:text="${book.author.getName()}">저자 예시</a></td>
      <td th:text="${book.publisher.getName()}">출판사 예시</td>
    </tr>
    </tbody>
  </table>
  <a href="/" class="btn btn-secondary" th:href="@{/}">홈으로</a>
</div>
</body>
</html>