<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>책 목록</title>
  <!-- Bootstrap CSS 연결 -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h2>책 목록</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>제목</th>
      <th>저자</th>
      <th>출판사</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.id}">1</td>
      <td th:text="${book.title}">책 제목 예시</td>
      <td th:text="${book.author.getName()}">저자 예시</td>
      <td th:text="${book.publisher.getName()}">출판사 예시</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>