<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책 수정</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>책 수정</h2>
    <form th:action="@{/books/update/{id}(id=${book.id})}" th:object="${book}" method="post">
        <div class="form-group">
            <label for="title">책 제목:</label>
            <input type="text" class="form-control" id="title" name="title" th:value="*{title}" required>
        </div>
        <div class="form-group">
            <label for="authorId">저자 선택:</label>
            <select class="form-control" id="authorId" name="authorId" th:value="*{author.id}">
                <option th:each="author : ${authors}"
                        th:value="${author.id}"
                        th:text="${author.name}"
                        th:selected="${author.id == book.author.id}">저자명</option>
            </select>
        </div>
        <div class="form-group">
            <label for="publisherId">출판사 선택:</label>
            <select class="form-control" id="publisherId" name="publisherId" th:value="*{publisher.id}">
                <option th:each="publisher : ${publishers}"
                        th:value="${publisher.id}"
                        th:text="${publisher.name}"
                        th:selected="${publisher.id == book.publisher.id}">출판사명</option>
            </select>
        </div>
        <div class="form-group">
            <label for="status">상태:</label>
            <select class="form-control" id="status" name="status" th:value="*{status}">
                <option th:each="status : ${bookStatus}"
                        th:value="${status}"
                        th:text="${status.description}"
                        th:selected="${status == book.status}">상태</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">수정 완료</button>
        <a href="/" class="btn btn-secondary ml-2" th:href="@{/books/{id}(id=${book.id})}">이전</a>
    </form>
</div>
</body>
</html>
