<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>jpa연습</title>
    <!-- Bootstrap CSS 연결 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>출판사 등록</h2>
    <form th:action="@{/publishers/new}" method="post">
        <div class="form-group">
            <label for="name">이름:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="출판사 이름을 입력하세요" required>
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
        <a href="/" class="btn btn-secondary ml-2" th:href="@{/}">home</a>
    </form>
</div>
</body>
</html>
